<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.wembassy.wren.heartbeat</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>/opt/homebrew/bin/openclaw</string>
        <string>agent</string>
        <string>send</string>
        <string>coo</string>
        <string>HEARTBEAT</string>
    </array>
    
    <key>StartCalendarInterval</key>
    <array>
        <!-- Every 30 minutes from 9 AM to 6 PM, Monday-Friday -->
        <dict>
            <key>Minute</key><integer>0</integer>
            <key>Hour</key><integer>9</integer>
            <key>Weekday</key><integer>1</integer>
        </dict>
        <dict>
            <key>Minute</key><integer>30</integer>
            <key>Hour</key><integer>9</integer>
            <key>Weekday</key><integer>1</integer>
        </dict>
        <dict>
            <key>Minute</key><integer>0</integer>
            <key>Hour</key><integer>10</integer>
            <key>Weekday</key><integer>1</integer>
        </dict>
        <dict>
            <key>Minute</key><integer>30</integer>
            <key>Hour</key><integer>10</integer>
            <key>Weekday</key><integer>1</integer>
        </dict>
        <dict>
            <key>Minute</key><integer>0</integer>
            <key>Hour</key><integer>11</integer>
            <key>Weekday</key><integer>1</integer>
        </dict>
        <dict>
            <key>Minute</key><integer>30</integer>
            <key>Hour</key><integer>11</integer>
            <key>Weekday</key><integer>1</integer>
        </dict>
        <dict>
            <key>Minute</key><integer>0</integer>
            <key>Hour</key><integer>12</integer>
            <key>Weekday</key><integer>1</integer>
        </dict>
        <dict>
            <key>Minute</key><integer>30</integer>
            <key>Hour</key><integer>12</integer>
            <key>Weekday</key><integer>1</integer>
        </dict>
        <dict>
            <key>Minute</key><integer>0</integer>
            <key>Hour</key><integer>13</integer>
            <key>Weekday</key><integer>1</integer>
        </dict>
        <dict>
            <key>Minute</key><integer>30</integer>
            <key>Hour</key><integer>13</integer>
            <key>Weekday</key><integer>1</integer>
        </dict>
        <dict>
            <key>Minute</key><integer>0</integer>
            <key>Hour</key><integer>14</integer>
            <key>Weekday</key><integer>1</integer>
        </dict>
        <dict>
            <key>Minute</key><integer>30</integer>
            <key>Hour</key><integer>14</integer>
            <key>Weekday</key><integer>1</integer>
        </dict>
        <dict>
            <key>Minute</key><integer>0</integer>
            <key>Hour</key><integer>15</integer>
            <key>Weekday</key><integer>1</integer>
        </dict>
        <dict>
            <key>Minute</key><integer>30</integer>
            <key>Hour</key><integer>15</integer>
            <key>Weekday</key><integer>1</integer>
        </dict>
        <dict>
            <key>Minute</key><integer>0</integer>
            <key>Hour</key><integer>16</integer>
            <key>Weekday</key><integer>1</integer>
        </dict>
        <dict>
            <key>Minute</key><integer>30</integer>
            <key>Hour</key><integer>16</integer>
            <key>Weekday</key><integer>1</integer>
        </dict>
        <dict>
            <key>Minute</key><integer>0</integer>
            <key>Hour</key><integer>17</integer>
            <key>Weekday</key><integer>1</integer>
        </dict>
        <dict>
            <key>Minute</key><integer>30</integer>
            <key>Hour</key><integer>17</integer>
            <key>Weekday</key><integer>1</integer>
        </dict>
        <dict>
            <key>Minute</key><integer>0</integer>
            <key>Hour</key><integer>18</integer>
            <key>Weekday</key><integer>1</integer>
        </dict>
        <!-- Tuesday -->
        <dict>
            <key>Minute</key><integer>0</integer>
            <key>Hour</key><integer>9</integer>
            <key>Weekday</key><integer>2</integer>
        </dict>
        <dict>
            <key>Minute</key><integer>30</integer>
            <key>Hour</key><integer>9</integer>
            <key>Weekday</key><integer>2</integer>
        </dict>
        <dict>
            <key>Minute</key><integer>0</integer>
            <key>Hour</key><integer>10</integer>
            <key>Weekday</key><integer>2</integer>
        </dict>
        <dict>
            <key>Minute</key><integer>30</integer>
            <key>Hour</key><integer>10</integer>
            <key>Weekday</key><integer>2</integer>
        </dict>
        <dict>
            <key>Minute</key><integer>0</integer>
            <key>Hour</key><integer>11</integer>
            <key>Weekday</key><integer>2</integer>
        </dict>
        <dict>
            <key>Minute</key><integer>30</integer>
            <key>Hour</key><integer>11</integer>
            <key>Weekday</key><integer>2</integer>
        </dict>
        <dict>
            <key>Minute</key><integer>0</integer>
            <key>Hour</key><integer>12</integer>
            <key>Weekday</key><integer>2</integer>
        </dict>
        <dict>
            <key>Minute</key><integer>30</integer>
            <key>Hour</key><integer>12</integer>
            <key>Weekday</key><integer>2</integer>
        </dict>
        <dict>
            <key>Minute</key><integer>0</integer>
            <key>Hour</key><integer>13</integer>
            <key>Weekday</key><integer>2</integer>
        </dict>
        <dict>
            <key>Minute</key><integer>30</integer>
            <key>Hour</key><integer>13</integer>
            <key>Weekday</key><integer>2</integer>
        </dict>
        <dict>
            <key>Minute</key><integer>0</integer>
            <key>Hour</key><integer>14</integer>
            <key>Weekday</key><integer>2</integer>
        </dict>
        <dict>
            <key>Minute</key><integer>30</integer>
            <key>Hour</key><integer>14</integer>
            <key>Weekday</key><integer>2</integer>
        </dict>
        <dict>
            <key>Minute</key><integer>0</integer>
            <key>Hour</key><integer>15</integer>
            <key>Weekday</key><integer>2</integer>
        </dict>
        <dict>
            <key>Minute</key><integer>30</integer>
            <key>Hour</key><integer>15</integer>
            <key>Weekday</key><integer>2</integer>
        </dict>
        <dict>
            <key>Minute</key><integer>0</integer>
            <key>Hour</key><integer>16</integer>
            <key>Weekday</key><integer>2</integer>
        </dict>
        <dict>
            <key>Minute</key><integer>30</integer>
            <key>Hour</key><integer>16</integer>
            <key>Weekday</key><integer>2</integer>
        </dict>
        <dict>
            <key>Minute</key><integer>0</integer>
            <key>Hour</key><integer>17</integer>
            <key>Weekday</key><integer>2</integer>
        </dict>
        <dict>
            <key>Minute</key><integer>30</integer>
            <key>Hour</key><integer>17</integer>
            <key>Weekday</key><integer>2</integer>
        </dict>
        <dict>
            <key>Minute</key><integer>0</integer>
            <key>Hour</key><integer>18</integer>
            <key>Weekday</key><integer>2</integer>
        </dict>
        <!-- Wednesday -->
        <dict>
            <key>Minute</key><integer>0</integer>
            <key>Hour</key><integer>9</integer>
            <key>Weekday</key><integer>3</integer>
        </dict>
        <dict>
            <key>Minute</key><integer>30</integer>
            <key>Hour</key><integer>9</integer>
            <key>Weekday</key><integer>3</integer>
        </dict>
        <dict>
            <key>Minute</key><integer>0</integer>
            <key>Hour</key><integer>10</integer>
            <key>Weekday</key><integer>3</integer>
        </dict>
        <dict>
            <key>Minute</key><integer>30</integer>
            <key>Hour</key><integer>10</integer>
            <key>Weekday</key><integer>3</integer>
        </dict>
        <dict>
            <key>Minute</key><integer>0</integer>
            <key>Hour</key><integer>11</integer>
            <key>Weekday</key><integer>3</integer>
        </dict>
        <dict>
            <key>Minute</key><integer>30</integer>
            <key>Hour</key><integer>11</integer>
            <key>Weekday</key><integer>3</integer>
        </dict>
        <dict>
            <key>Minute</key><integer>0</integer>
            <key>Hour</key><integer>12</integer>
            <key>Weekday</key><integer>3</integer>
        </dict>
        <dict>
            <key>Minute</key><integer>30</integer>
            <key>Hour</key><integer>12</integer>
            <key>Weekday</key><integer>3</integer>
        </dict>
        <dict>
            <key>Minute</key><integer>0</integer>
            <key>Hour</key><integer>13</integer>
            <key>Weekday</key><integer>3</integer>
        </dict>
        <dict>
            <key>Minute</key><integer>30</integer>
            <key>Hour</key><integer>13</integer>
            <key>Weekday</key><integer>3</integer>
        </dict>
        <dict>
            <key>Minute</key><integer>0</integer>
            <key>Hour</key><integer>14</integer>
            <key>Weekday</key><integer>3</integer>
        </dict>
        <dict>
            <key>Minute</key><integer>30</integer>
            <key>Hour</key><integer>14</integer>
            <key>Weekday</key><integer>3</integer>
        </dict>
        <dict>
            <key>Minute</key><integer>0</integer>
            <key>Hour</key><integer>15</integer>
            <key>Weekday</key><integer>3</integer>
        </dict>
        <dict>
            <key>Minute</key><integer>30</integer>
            <key>Hour</key><integer>15</integer>
            <key>Weekday</key><integer>3</integer>
        </dict>
        <dict>
            <key>Minute</key><integer>0</integer>
            <key>Hour</key><integer>16</integer>
            <key>Weekday</key><integer>3</integer>
        </dict>
        <dict>
            <key>Minute</key><integer>30</integer>
            <key>Hour</key><integer>16</integer>
            <key>Weekday</key><integer>3</integer>
        </dict>
        <dict>
            <key>Minute</key><integer>0</integer>
            <key>Hour</key><integer>17</integer>
            <key>Weekday</key><integer>3</integer>
        </dict>
        <dict>
            <key>Minute</key><integer>30</integer>
            <key>Hour</key><integer>17</integer>
            <key>Weekday</key><integer>3</integer>
        </dict>
        <dict>
            <key>Minute</key><integer>0</integer>
            <key>Hour</key><integer>18</integer>
            <key>Weekday</key><integer>3</integer>
        </dict>
        <!-- Thursday -->
        <dict>
            <key>Minute</key><integer>0</integer>
            <key>Hour</key><integer>9</integer>
            <key>Weekday</key><integer>4</integer>
        </dict>
        <dict>
            <key>Minute</key><integer>30</integer>
            <key>Hour</key><integer>9</integer>
            <key>Weekday</key><integer>4</integer>
        </dict>
        <dict>
            <key>Minute</key><integer>0</integer>
            <key>Hour</key><integer>10</integer>
            <key>Weekday</key><integer>4</integer>
        </dict>
        <dict>
            <key>Minute</key><integer>30</integer>
            <key>Hour</key><integer>10</integer>
            <key>Weekday</key><integer>4</integer>
        </dict>
        <dict>
            <key>Minute</key><integer>0</integer>
            <key>Hour</key><integer>11</integer>
            <key>Weekday</key><integer>4</integer>
        </dict>
        <dict>
            <key>Minute</key><integer>30</integer>
            <key>Hour</key><integer>11</integer>
            <key>Weekday</key><integer>4</integer>
        </dict>
        <dict>
            <key>Minute</key><integer>0</integer>
            <key>Hour</key><integer>12</integer>
            <key>Weekday</key><integer>4</integer>
        </dict>
        <dict>
            <key>Minute</key><integer>30</integer>
            <key>Hour</key><integer>12</integer>
            <key>Weekday</key><integer>4</integer>
        </dict>
        <dict>
            <key>Minute</key><integer>0</integer>
            <key>Hour</key><integer>13</integer>
            <key>Weekday</key><integer>4</integer>
        </dict>
        <dict>
            <key>Minute</key><integer>30</integer>
            <key>Hour</key><integer>13</integer>
            <key>Weekday</key><integer>4</integer>
        </dict>
        <dict>
            <key>Minute</key><integer>0</integer>
            <key>Hour</key><integer>14</integer>
            <key>Weekday</key><integer>4</integer>
        </dict>
        <dict>
            <key>Minute</key><integer>30</integer>
            <key>Hour</key><integer>14</integer>
            <key>Weekday</key><integer>4</integer>
        </dict>
        <dict>
            <key>Minute</key><integer>0</integer>
            <key>Hour</key><integer>15</integer>
            <key>Weekday</key><integer>4</integer>
        </dict>
        <dict>
            <key>Minute</key><integer>30</integer>
            <key>Hour</key><integer>15</integer>
            <key>Weekday</key><integer>4</integer>
        </dict>
        <dict>
            <key>Minute</key><integer>0</integer>
            <key>Hour</key><integer>16</integer>
            <key>Weekday</key><integer>4</integer>
        </dict>
        <dict>
            <key>Minute</key><integer>30</integer>
            <key>Hour</key><integer>16</integer>
            <key>Weekday</key><integer>4</integer>
        </dict>
        <dict>
            <key>Minute</key><integer>0</integer>
            <key>Hour</key><integer>17</integer>
            <key>Weekday</key><integer>4</integer>
        </dict>
        <dict>
            <key>Minute</key><integer>30</integer>
            <key>Hour</key><integer>17</integer>
            <key>Weekday</key><integer>4</integer>
        </dict>
        <dict>
            <key>Minute</key><integer>0</integer>
            <key>Hour</key><integer>18</integer>
            <key>Weekday</key><integer>4</integer>
        </dict>
        <!-- Friday -->
        <dict>
            <key>Minute</key><integer>0</integer>
            <key>Hour</key><integer>9</integer>
            <key>Weekday</key><integer>5</integer>
        </dict>
        <dict>
            <key>Minute</key><integer>30</integer>
            <key>Hour</key><integer>9</integer>
            <key>Weekday</key><integer>5</integer>
        </dict>
        <dict>
            <key>Minute</key><integer>0</integer>
            <key>Hour</key><integer>10</integer>
            <key>Weekday</key><integer>5</integer>
        </dict>
        <dict>
            <key>Minute</key><integer>30</integer>
            <key>Hour</key><integer>10</integer>
            <key>Weekday</key><integer>5</integer>
        </dict>
        <dict>
            <key>Minute</key><integer>0</integer>
            <key>Hour</key><integer>11</integer>
            <key>Weekday</key><integer>5</integer>
        </dict>
        <dict>
            <key>Minute</key><integer>30</integer>
            <key>Hour</key><integer>11</integer>
            <key>Weekday</key><integer>5</integer>
        </dict>
        <dict>
            <key>Minute</key><integer>0</integer>
            <key>Hour</key><integer>12</integer>
            <key>Weekday</key><integer>5</integer>
        </dict>
        <dict>
            <key>Minute</key><integer>30</integer>
            <key>Hour</key><integer>12</integer>
            <key>Weekday</key><integer>5</integer>
        </dict>
        <dict>
            <key>Minute</key><integer>0</integer>
            <key>Hour</key><integer>13</integer>
            <key>Weekday</key><integer>5</integer>
        </dict>
        <dict>
            <key>Minute</key><integer>30</integer>
            <key>Hour</key><integer>13</integer>
            <key>Weekday</key><integer>5</integer>
        </dict>
        <dict>
            <key>Minute</key><integer>0</integer>
            <key>Hour</key><integer>14</integer>
            <key>Weekday</key><integer>5</integer>
        </dict>
        <dict>
            <key>Minute</key><integer>30</integer>
            <key>Hour</key><integer>14</integer>
            <key>Weekday</key><integer>5</integer>
        </dict>
        <dict>
            <key>Minute</key><integer>0</integer>
            <key>Hour</key><integer>15</integer>
            <key>Weekday</key><integer>5</integer>
        </dict>
        <dict>
            <key>Minute</key><integer>30</integer>
            <key>Hour</key><integer>15</integer>
            <key>Weekday</key><integer>5</integer>
        </dict>
        <dict>
            <key>Minute</key><integer>0</integer>
            <key>Hour</key><integer>16</integer>
            <key>Weekday</key><integer>5</integer>
        </dict>
        <dict>
            <key>Minute</key><integer>30</integer>
            <key>Hour</key><integer>16</integer>
            <key>Weekday</key><integer>5</integer>
        </dict>
        <dict>
            <key>Minute</key><integer>0</integer>
            <key>Hour</key><integer>17</integer>
            <key>Weekday</key><integer>5</integer>
        </dict>
        <dict>
            <key>Minute</key><integer>30</integer>
            <key>Hour</key><integer>17</integer>
            <key>Weekday</key><integer>5</integer>
        </dict>
        <dict>
            <key>Minute</key><integer>0</integer>
            <key>Hour</key><integer>18</integer>
            <key>Weekday</key><integer>5</integer>
        </dict>
    </array>
    
    <key>StandardOutPath</key>
    <string>/tmp/wren-heartbeat.out</string>
    <key>StandardErrorPath</key>
    <string>/tmp/wren-heartbeat.err</string>
</dict>
</plist>
